<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% assign public = site.posts | where: 'public', 'true' %}
  {% assign unpublic = site.posts | where: 'public', 'false' %}

  {% if page.previous.url %}
    {% for i in (0..public.size) %}
      {% if public[i].title == page.title %}
        <a
          href="{{ site.baseurl }}{{ public[i-1].url }}"
          class="btn btn-outline-primary"
          aria-label="{{ previous }}"
        >
          <p>{{ public[i-1].title }}</p>
        </a>
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if page.next.url %}
    <a
      href="{{ site.baseurl }}{{page.next.url}}"
      class="btn btn-outline-primary"
      aria-label="{{ next }}"
    >
      <p>{{ page.next.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
