<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% assign public = site.posts | where: 'hidden', 'false' %}
  {% assign unpublic = site.posts | where: 'public', 'false' %}
  {% assign publicTmp = '' | split: '' %}

  {% assign previous_public = '' | split: '' %}
  {% assign previous_unpublic = nil %}

  {% for i in (0..public.size - 1) %}
    {% if public[i].url == page.url %}
      {% assign previous_public = previous_public | push: public[i] %}
      {% break %}
    {% else %}
      {% assign publicTmp = publicTmp | push: public[i] %}
    {% endif %}
  {% endfor %}
  

  {% if previous_public.url %}
    <a
      href="{{ site.baseurl }}{{ previous_public.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ previous }}"
    >
      <p>{{ previous_public.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if page.next.url %}
    <a
      href="{{ site.baseurl }}{{page.next.url}}"
      class="btn btn-outline-primary"
      aria-label="{{ next }}"
    >
      <p>{{ page.next.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
