---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
{% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
{% include head.html %}

<body>
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  
  {% include sidebar.html lang=lang %}

  <div id="main-wrapper" class="d-flex justify-content-center">

    <div class="container d-flex flex-column px-xxl-5">

      <header id="topbar-wrapper" aria-label="Top Bar">
        <div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 h-100">
          <button type="button" id="sidebar-trigger" class="btn btn-link">
            <i class="fas fa-bars fa-fw"></i>
          </button>
          <button type="button" class="btn gal-info-btn">
            <i class="fas fa-info-circle"></i>
          </button>
          <div class="gal-info">
            <div class="info-card">
              <div class="info">
                <h2>关于“画廊”</h2>
                <p>画廊这个模块中的图片与视频是我建模与渲染过程中的练习作品，目的是记录学习成果。其中部分素材来源于其他创作者。</p>
                <p>特别鸣谢：<a href="https://space.bilibili.com/435558003?spm_id_from=333.337" target = "_blank">李翔SCU</a>，<a href="https://space.bilibili.com/3494357237762255?spm_id_from=333.337" target="_blank">每天逛一逛的小林</a>，<a href="https://space.bilibili.com/318473879?spm_id_from=333.337.0.0">吴名小伙</a></p>
                <button class="info-dismiss-btn">OK</button>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="portfolio-container">
        <div class="portfolio-heading">
          <button class="titleButton" data-text="Awesome">
            <span class="actual-text">&nbsp;GALLERY&nbsp;</span>
            <span aria-hidden="true" class="hover-text">&nbsp;GALLERY&nbsp;</span>
          </button>
        </div>
        <div class="portfolio-box">
          <!-- column1 -->
          <div class="portfolio-dream">
            <!-- item 1 -->
            <div class="portfolio-item">
              <img
                src="https://imglf4.lf127.net/img/56f1b277410456c1/UFZTUldOYTRpNnlyVFIxVkdHREd5NDdtTndKZVR0NVZBaW5tTjUxaXluaz0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                alt="Headphone">
              <div class="portfolio-layer">
                <h4>Headphone</h4>
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>北欧风耳机场景</h2>
                    <p>
                      针对商业化产品进行场景布置、材质构建、光照练习。用高光凸显主体，HDR 光对室内初照明，区域光构造暗部、突出局部。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- item2 -->
            <div class="portfolio-item">
              <img
                src="https://imglf3.lf127.net/img/fca0dfad8dc13388/UFZTUldOYTRpNnlyVFIxVkdHREd5dzNUanEyRWlVRGdUaFoyaTUvMnk3bz0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                alt="Mooncake">
              <div class="portfolio-layer">
                <h4>Mooncake</h4>
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>月饼建模+渲染</h2>
                    <p>
                      这是我第一次独立地使用Octane渲染器尝试完成一张静态图片。由于没有实景参考，我需要自己构想一个位置并且在建模阶段将所有模型位置摆放正确。制作过程中我也尽量还原模型的实际大小，1：1进行建模。其他制作细节我放在博客里进行介绍。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- item3 -->
            <div class="portfolio-item">
              <img
                src="https://imglf4.lf127.net/img/256828d4a62caa2d/UFZTUldOYTRpNnlENTlPZklGeFdGWllyeVlvcVdkY1F3ZG5DZWRqeW13MD0.gif"
                loop="true" autoplay="true" alt="1">
              <div class="portfolio-layer">
                <h4>Art School</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <!-- <a><i class="fas fa-times close-btn"></i></a> -->
                  <div class="info">
                    <h2>轻量化的C4D动画</h2>
                    <p>使用全局光照会严重减慢渲染速度，这个动画总渲染时间却不到十分钟。得益于低多边形和零玻璃材质，整体画风表现为卡通动画的同时让动画更加灵动。动画“烘焙”能力++ ！</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- item4 -->
            <div class="portfolio-item">
              <img
                src="https://imglf5.lf127.net/img/d3d037e1dff56dd5/UFZTUldOYTRpNnlENTlPZklGeFdGZkhoR3NxbllHYWUzV3N0bU5laEcvUT0.jpeg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                alt="AMBPOEIAl">
              <div class="portfolio-layer">
                <h4>AMBPOEIAl</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <!-- <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button> -->
              </div>
              <!-- <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>AMBPOEIAl</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <!-- column2 -->
          <div class="portfolio-dream">
            <!-- item1 -->
            <div class="portfolio-item">
              <img
                src="https://imglf3.lf127.net/img/d1390542d3530149/UFZTUldOYTRpNnlENTlPZklGeFdGZlNadjJjeXl0Y29uYkE1bk1xY04vUT0.gif"
                loop="true" autoplay="true" alt="Rocket Launching">
              <div class="portfolio-layer">
                <h4>Rocket Launching</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <!-- <a><i class="fas fa-times close-btn"></i></a> -->
                  <div class="info">
                    <h2>浅试 AE 动画</h2>
                    <p>
                      虽然之前我做后期偶尔会用到AE，但我对其界面布局和操作并不熟悉，大多数情况只是用于去黑色背景、分离alpha通道等。这次是我系统学习AE的一个开始，我也逐渐对其用户界面熟悉并能轻松完成一些基本效果。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- item2 -->
            <div class="portfolio-item">
              <img
                src="https://imglf3.lf127.net/img/dbf0f88f75de8082/UFZTUldOYTRpNnlENTlPZklGeFdGUjBHWmw3V0dHZG43VU11UzhvQUk0WT0.png?imageView&thumbnail=1680x0&quality=96&stripmeta=0"
                alt="2">
              <div class="portfolio-layer">
                <h4>Cake</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <!-- <a><i class="fas fa-times close-btn"></i></a> -->
                  <div class="info">
                    <h2>Octane——初试锋芒</h2>
                    <p>
                      当我入手Octane渲染器后，我首先尝试了它的输出质感。不得不说，明显比自带的标准渲染器和物理渲染器输出的质感好得太多。光影、虚实、滤镜所有都可以在OC摄像机中调整；丰富的材质简化了创作过程。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- item3 -->
            <div class="portfolio-item">
              <img
                src="https://imglf5.lf127.net/img/b59100c3727980d4/UFZTUldOYTRpNnlENTlPZklGeFdGZmswbUE4RkNxRU93Zng2V0J1UnEvYz0.gif"
                alt="Solor System">
              <div class="portfolio-layer">
                <h4>Solor System</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <!-- <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button> -->
              </div>
              <!-- <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>Solor System</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div> -->
            </div>

          </div>

          <!-- column3 -->
          <div class="portfolio-dream">
            <!-- item1 -->
            <div class="portfolio-item">
              <img
                src="https://imglf3.lf127.net/img/bb789a89de6c47f2/UFZTUldOYTRpNnlENTlPZklGeFdGUm5uNHZoYTFvR2s3V0xwallpcEFWWT0.gif"
                loop="true" autoplay="true" alt="3">
              <div class="portfolio-layer">
                <h4>Plane Model</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <!-- <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button> -->
              </div>
              <!-- <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>Plane Model</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- item2 -->
            <div class="portfolio-item">
              <img
                src="https://imglf3.lf127.net/img/83df34c9c785ec13/UFZTUldOYTRpNnlENTlPZklGeFdGVnNoWXdlalYyb3FiQlRiUHFDcURnRT0.jpeg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                alt="MONIN">
              <div class="portfolio-layer">
                <h4>MONIN</h4>
                <!-- <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button> -->
              </div>
              <!-- <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <div class="info">
                    <h2>MONIN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- item3 -->
            <div class="portfolio-item">
              <img
                src="https://imglf6.lf127.net/img/143c54c632f31df3/UFZTUldOYTRpNnlENTlPZklGeFdGVVhjeVpjdmZoRGdCV2JySFJILzA0RT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                alt="Clock">
              <div class="portfolio-layer">
                <h4>Clock</h4>
                <!-- <a class="popup-btn">See More</a> -->
                <button class="popup-btn">查看更多<i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <div class="popup-view">
                <div class="popup-card">
                  <div class="popup-align">
                    <a class="popup-red"></a>
                    <span class="popup-yellow"></span>
                    <span class="popup-green"></span>
                  </div>
                  <!-- <a><i class="fas fa-times close-btn"></i></a> -->
                  <div class="info">
                    <h2>C4D建模——牛刀小试</h2>
                    <p>闹钟的案例让我开始对默认渲染器所支持的材质制作有了一定的了解，并熟悉了如何从零进行建模、上材质、打光、渲染静态图片，是我以后学习其他案例的基础</p>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="row">
        <!-- tail -->
        <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
          {% for _include in layout.tail_includes %}
          {% assign _include_path = _include | append: '.html' %}
          {% include {{ _include_path }} lang=lang %}
          {% endfor %}

          {% include_cached footer.html lang=lang %}
        </div>
      </div>

      {% include_cached search-results.html lang=lang %}
    </div>

    <aside aria-label="Scroll to Top">
      <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
        <i class="fas fa-angle-up"></i>
      </button>
    </aside>
  </div>

  <div id="mask"></div>

  {% if site.pwa.enabled %}
  {% include_cached notification.html lang=lang %}
  {% endif %}

  <!-- JavaScripts -->

  {% include js-selector.html %}

  {% if page.mermaid %}
  {% include mermaid.html %}
  {% endif %}

  {% include_cached search-loader.html %}
  <!-- <script src="https://unpkg.com/scrollreveal"></script> -->

  <!--- js file link -->
  <!-- <script>
    const sr = ScrollReveal({
      distance: '35px',
      duration: 2400,
      reset: true
    });

    sr.reveal('.portfolio-heading', { delay: 210, origin: 'top' }); 
  </script> -->

</body>

<!-- Info View -->
<script type="text/javascript">
  var infoView = document.querySelector('.gal-info');
  document.querySelector('.gal-info-btn').addEventListener('click',function () {
    infoView.classList.add('active');
  });
  document.querySelector('.info-dismiss-btn').addEventListener('click',function () {
    infoView.classList.remove('active');
  });
</script>

<!-- Popup View -->
<script type="text/javascript">
  var popupViews = document.querySelectorAll('.popup-view');
  var popupBtns = document.querySelectorAll('.popup-btn');
  var closeBtns = document.querySelectorAll('.popup-red');
  var genieBtns = document.querySelectorAll('.popup-yellow');
  var scaleBtns = document.querySelectorAll('.popup-green');
  var layerViews = document.querySelectorAll('.portfolio-layer');

  var popup = function (popupClick) {
    popupViews[popupClick].classList.add('active');
    layerViews[popupClick].classList.add('deactive');
  };

  popupBtns.forEach((popupBtn, i) => {
    popupBtn.addEventListener("click", () => {
      popup(i);
    });
  });

  closeBtns.forEach((closeBtn) => {
    closeBtn.addEventListener("click", () => {
      popupViews.forEach((popupView) => {
        popupView.classList.remove('active', 'red', 'yellow', 'green');
        popupView.classList.add('red');
      });
      layerViews.forEach((layerViews) => {
        layerViews.classList.remove('deactive');
      });
    });
  });
  genieBtns.forEach((genieBtn) => {
    genieBtn.addEventListener("click", () => {
      popupViews.forEach((popupView) => {
        popupView.classList.remove('active', 'red', 'yellow', 'green');
        popupView.classList.add('yellow');
      });
      layerViews.forEach((layerViews) => {
        layerViews.classList.remove('deactive');
      });
    });
  });
  scaleBtns.forEach((scaleBtn) => {
    scaleBtn.addEventListener("click", () => {
      popupViews.forEach((popupView) => {
        popupView.classList.remove('active', 'red', 'yellow', 'green');
        popupView.classList.add('green');
      });
      layerViews.forEach((layerViews) => {
        layerViews.classList.remove('deactive');
      });
    });
  });
</script>

<!-- 以下两个 js 异步进行，不能合并 -->
<!-- 监听 title 是否被点击 -->
<script>
  document.querySelector('.titleButton').addEventListener('click', function () {
    this.classList.toggle('clicked');
  });
</script>

<!-- 更改 title 颜色 -->
<script>
  var colors = ["rgba(213, 132, 51, 0.872)", "rgba(29, 152, 232, 0.87)", "rgba(29, 152, 232, 0.87)", "rgba(125, 12, 254, 1)", "rgba(125, 12, 254, 1)", "rgba(19, 236, 221, 0.87)", "rgba(19, 236, 221, 0.87)", "rgba(228, 49, 161, 0.9)", "rgba(228, 49, 161, 0.9)", "rgba(213, 132, 51, 0.872)"];
  var i = 0;

  document.querySelector('.titleButton').addEventListener('click', function () {
    this.style.setProperty('--animation-color', colors[i % colors.length]);
    i++;
  });
</script>

<!-- Loader -->
<script> 
  $(window).on("load",function(){
    $(".loader-wrapper").fadeOut("slow");
  });
  </script>

</html>