---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
{% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
{% include head.html %}

<body>
  {% include sidebar.html lang=lang %}

  <div id="main-wrapper" class="d-flex justify-content-center">
    <div class="container d-flex flex-column px-xxl-5">
      {% include topbar.html lang=lang %}

      <!-- <div class="portfolio">
        <div class="portfolio-content">
          <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-09-09-PlaneModel.assets/PlaneModel.gif" alt="img2">
          <div class="layer">
            <h5>Web Design</h5>
            <a href="#"><i class="fa-solid fa-photo-film"></i></a>
          </div>
        </div>
      </div> -->

      <div class="portfolio-container">
        <div class="portfolio-heading">
          <h3>Photo <span>Gallery</span></h3>
        </div>
        <div class="portfolio-box">
          <div class="portfolio-dream">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-10-04-Mooncake.assets/mooncake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-10-04-Mooncake.assets/mooncake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-06-14-Cake.assets/Cake.jpg" alt="1">
          </div>

          <div class="portfolio-dream">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-06-14-Cake.assets/Cake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-10-04-Mooncake.assets/mooncake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
          </div>

          <div class="portfolio-dream">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-06-14-Cake.assets/Cake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-06-14-Cake.assets/Cake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/2023-10-04-Mooncake.assets/mooncake.jpg" alt="1">
            <img src="https://jo-cruise.gitee.io/assets/blog_res/title/UtilityWeb.jpg" alt="1">
          </div>
        </div>
      </div>
      <div class="row">
        <!-- tail -->
        <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
          {% for _include in layout.tail_includes %}
          {% assign _include_path = _include | append: '.html' %}
          {% include {{ _include_path }} lang=lang %}
          {% endfor %}

          {% include_cached footer.html lang=lang %}
        </div>
      </div>

      {% include_cached search-results.html lang=lang %}
    </div>

    <aside aria-label="Scroll to Top">
      <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
        <i class="fas fa-angle-up"></i>
      </button>
    </aside>
  </div>

  <div id="mask"></div>

  {% if site.pwa.enabled %}
  {% include_cached notification.html lang=lang %}
  {% endif %}

  <!-- JavaScripts -->

  {% include js-selector.html %}

  {% if page.mermaid %}
  {% include mermaid.html %}
  {% endif %}

  {% include_cached search-loader.html %}
  <script src="https://unpkg.com/scrollreveal"></script>

  <!--- js file link -->
  <script>
    const sr = ScrollReveal({
      distance: '35px',
      duration: 2400,
      reset: true
    });

    sr.reaveal('.portfolio-container', { delay: 210, origin: 'bottom' });
  </script>
</body>

</html>