---
layout: default
---
<h1>My Media Gallery</h1>
<div class="gallery">
    <!-- 图片 -->
    <div class="gallery-item">
        <img src="" alt="Image 1" width="300">
    </div>
    <div class="gallery-item">
        <img src="" alt="Image 2" width="300">
    </div>

    <!-- 视频 -->
    <div class="gallery-item">
        <video width="320" height="240" controls>
            <source src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>