.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.portfolio-container .portfolio-heading {
    width: 100%;
    padding-bottom: 50px;
}

// GALLERY Title
.portfolio-container .portfolio-heading h3 {
	font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 3px;
    border-bottom: 2px solid #545454;
	text-align: center;
}

.portfolio-container .portfolio-heading h3 span {
    font-weight: 100;
}

.portfolio-container .portfolio-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-container .portfolio-box .portfolio-dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}


// .portfolio-card-body {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     right: -100%;
//     position: absolute;
//     background: #1f3d4738;
//     backdrop-filter: blur(5px);
//     border-radius: 15px;
//     color: #fff;
//     padding: 30px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     transition: 2s;
// }

// .portfolio-card:hover .portfolio-card-body {
//     right: 0;
// }

// .portfolio-card-title {
//     text-transform: uppercase;
//     font-size: 50px;
//     font-weight: 500;
// }

// .portfolio-card-sub-title {
//     text-transform: capitalize;
//     font-size: 14px;
//     font-weight: 300;
// }

// .portfolio-card-info {
//     font-size: 16px;
//     line-height: 25px;
//     margin: 40px 0;
//     font-weight: 400;
// }

// .portfolio-card-btn {
//     color: #1f3d47;
//     background: #8fabba;
//     padding: 10px 20px;
//     width: 120px;
//     border-radius: 5px;
//     text-transform: capitalize;
//     border: none;
//     outline: none;
//     font-weight: 500;
//     cursor: pointer;
// }

.portfolio-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.6s;
}

.portfolio-layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #171f26);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.3s ease;
}

// 悬停显示简介
.portfolio-item:hover .portfolio-layer {
    height: 100%;
}

// 展示详细资料时禁止悬停
.portfolio-item .portfolio-layer.deactive {
    height: 0;
}

// layer 简介标题
.portfolio-layer h4 {
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
    margin-bottom: auto;
}

// 查看更多箭头标志
.portfolio-layer i {
    font-size: 15px;
    border-radius: 50%;
    display: inline-flex;
    align-items: end;
    justify-content: end;
}

/* Style for pop up view */

.popup-btn {
	content: "查看更多";
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.3rem;
    padding-inline: 1rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    // font-weight: bold;
    font-size: 15px;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    margin: auto;
    // outline: none;
    // cursor: pointer;
    // border-radius: 50px;
    // background-color: hsl(216, 73%, 57%);
    // border: solid 2px rgba(0, 0, 0, 0.3);
}

.portfolio-item .popup-view {
    z-index: 1;
    // background: rgba(31, 31, 31, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.portfolio-item .popup-view.active {
    opacity: 1;
    visibility: visible;
}

@keyframes dropin {
    0%{
        transform: translateY(-400px);
    }
    60% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes dismiss {
    0%{
        transform: translateY(0px);
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateY(-400px);
        opacity: 0;
    }
}

.portfolio-item .popup-view.active .popup-card{
    opacity: 1;
    visibility: visible;
    animation: dropin 0.4s ease;
}

.portfolio-item .popup-view .popup-card {
    animation: dismiss 0.4s ease;
}

.portfolio-item .popup-card {
    position: relative;
    display: flex;
 	max-width: 500px;
	max-height: 500px;
    margin: 20px;
}

.portfolio-item .popup-card .info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    /* Glass */
    /* background-color: rgba(255, 255, 255, 0.074);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .8rem;
    transition: all ease .3s;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 2px solid rgba(255, 255, 255, 0.454); */
    /* Glow */
    /* border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    border: 1px solid transparent;
    background: rgba(31, 31, 31, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px rgba(255, 255, 255, 0.545) outset; */
    /* border: 3px solid rgba(198, 198, 198, 0.8); */
    border-top-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.5);
    /* transform: skewX(10deg); */
    transition: .4s;
    transform: skew(0deg);

}

.popup-align {
    z-index: 3;
    position: absolute;
    left: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
}

.popup-red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.popup-yellow {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.popup-green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}


/* 废弃 */
// .portfolio-item .popup-card .close-btn {
//     color: #555;
//     z-index: 3;
//     position: absolute;
//     right: 0;
//     font-size: 20px;
//     margin: 20px;
//     cursor: pointer;
// }

.portfolio-item .popup-card .info h2 {
    color: #fff;
    font-size: 3rem;
    margin: 20px;
    text-shadow: -15px 20px 15px rgba(0, 0, 0, 0.5);
	word-wrap: break-word;
}

/* .portfolio-item .popup-card .info h2 span {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.portfolio-item .popup-card .info p {
    color: #fff;
    font-size: 1.5rem;
    margin: 10px;
	margin-top: 0;
    text-align: left;
    // text-shadow: -15px 20px 15px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.portfolio-item .popup-card .info .price {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.portfolio-item .popup-card .info .add-cart-btn {
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}

.portfolio-item .popup-card .info .add-wish {
    color: #009DD2;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

// 适配深浅色模式
@media (prefers-color-scheme: light){
	.portfolio-item .popup-card .info{
		border: 1px solid transparent;
        background: rgba(198, 198, 198, 0.7);
        border-top-color: rgba(255, 255, 255, 0.5);
        border-right-color: rgba(255, 255, 255, 0.5);
        border-bottom-color: rgba(255, 255, 255, 0.3);
        border-left-color: rgba(255, 255, 255, 0.3);
	}
    .portfolio-item .popup-card .info h2 {
        color: #171717cb;
    }

    .portfolio-item .popup-card .info p {
        /* padding: 10px; */
        color: #000;
    }
}

// 适配不同显示器大小

// dream 展示形式
// 桌面端


@media only screen and (min-width: 850px) and (max-width: 1236px) {
	.portfolio-item .popup-card{
		margin-inline-start: 250px;
	}

	@keyframes dropin {
		from{
			transform: translateX(100px);
			transform: translateY(-400px);
		}
		to {
			transform: translateX(100px);
			transform: translateY(0);
		}
	}
	
	@keyframes dismiss {
		from{
			transform: translateX(100px);
			transform: translateY(0px);
		}
		to {
			transform: translateX(100px);
			transform: translateY(-400px);
		}
	}
}

// 两列显示
@media only screen and (max-width: 950px) {
    .portfolio-container .portfolio-box .portfolio-dream {
        display: flex;
        flex-direction: column;
        width: 49%;
    }
}

@media only screen and (max-width: 850px) {
	.portfolio-item .popup-card {
		position: relative;
	}
}

// 手机端
@media only screen and (max-width: 643px) {
    .portfolio-container .portfolio-box {
        flex-direction: column;
    }

    .portfolio-container .portfolio-box .portfolio-dream {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

	
	.portfolio-item .popup-card .info h2 {
		color: #fff;
		font-size: 2.5rem;
		margin: 10px;
		text-shadow: -15px 20px 15px rgba(0, 0, 0, 0.5);
		word-wrap: break-word;
	}
	
	.portfolio-item .popup-card .info p {
		font-size: 1.3rem;
		margin: 10px;
	}
}

